.sidebar-container {
    border-radius: 5px;
    box-shadow: var(--box-shadow);
    margin-top: 4.5%;
    height: 280vh;
    padding-left: 5%;
    padding-right: 5%;
}

.sidebar-container:hover {
    box-shadow: var(--box-shadow-on-hover);
}

.sidebar-container h3 {
    color: var(--reddit-logo-color);
}
